services:
  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: blackjack
    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - blackjack-network

  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_DATABASE: blackjack
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - blackjack-network

  blackjack-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: blackjack-app
    restart: always
    depends_on:
      mysql-db:
        condition: service_healthy
      mongodb:
        condition: service_healthy
    ports:
      - "8081:8080"
    environment:
      R2DBC_URL: r2dbc:mysql://mysql-db:3306/blackjack
      R2DBC_USER: root
      R2DBC_PASS: root
      MONGODB_URI: mongodb://mongodb:27017/blackjack
      SERVER_PORT: 8080
    networks:
      - blackjack-network

volumes:
  mysql_data:
  mongodb_data:

networks:
  blackjack-network:
    driver: bridge